$padding1:0.5rem;
$padding2:1rem;
$fontSize1:1.25rem;
$lh-tight1:1.25;
$color-base1:#575757;
$su1:0.25rem;
$border-width: 1px;
$radius: 0.375rem;
$bluePrincipal: rgb(80, 80, 255);


.asideods {
    max-width: 17.5rem;
    padding: $padding1;
    box-sizing: border-box;
    flex:2;
    
}
.myCardInfo{
    padding: $padding2;
    border: 1px solid #e8e8e8;
    border-radius: $radius;
    background-color: white;
}
.crayons-subtitle-2ods{
    font-size: $fontSize1;
}
.mb-4ods{
    margin-bottom: $padding1;
}
.mt-4ods{
    margin-top: $padding1;
}
.lh-tightods{
    line-height: $lh-tight1;
}
.color-base-70ods{
    color: $color-base1;
}
.justify-centerods{
    justify-content: center;
}
.w-100ods{
    width: 100%;
}
.mb-1ods{
    margin-bottom: $su1;
}
.c-ctaods{
    box-sizing: border-box;
    padding: calc(0.5rem - 1px)
    calc(1rem - 1px);
    border: $border-width solid;
    border-color: $bluePrincipal;
    text-decoration: none;
    border-radius: $radius;
    font:inherit;
    background-color: transparent;
    color: $bluePrincipal;
    outline: 0;
    text-align: center;
    display: inline-flex;
    position: relative;
    overflow-wrap: normal;
}
.c-ctaods:hover{
    color: white;
    background-color: $bluePrincipal;
    text-decoration: underline;
}
.crayons-layout__sidebar-left{
    display: block;
    grid-row-end: initial;
    width: 240px;
}
.c-link{
    position: relative;
    border-radius: $radius;
    font: inherit;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    color: rgb(99, 99, 99);
    max-width: 100%;
}
.c-link--blockods{
    display: flex;
    padding: 0.5rem 1rem;
    overflow-wrap: normal;
    background-color: transparent;
    &:hover{
        color: $bluePrincipal;
        background-color: rgb(230, 230, 255);
        text-decoration: underline;
    }

}
.c-link--blockods:hover{
    
}
.c-link__icon{
    margin-right: 0.5rem;
    margin-left: calc(0.5rem * -1);
}
ul{
    list-style: none;
    padding: 0;
}