* {
   margin: 0;
   padding: 0;
}
ul {
   list-style: none;
   li {
      margin: 0 0.4rem;
   }
}
.flex {
   display: flex;
}
.mx-2 {
   margin-left: 0.4rem;
   margin-right: 0.4rem;
}
.pt-5 {
   padding-top: 1rem;
}

.d-none {
   display: none;
}

@media (min-width: 640px) {
   .d-sm-block {
      display: block;
   }
}

@media (min-width: 768px) {
   .d-md-block {
      display: block;
   }
}

@media (min-width: 1024px) {
   
}

@media (min-width: 1280px) {
   
}

@media (min-width: 1536px) {
   
}
